[submodule "deps/docviewjs"]
	path = deps/docviewjs
url=https://github.com/bobef/docviewjs
[submodule "deps/node_modules/Markdown"]
	path = deps/node_modules/Markdown
	url = https://github.com/Perennials/markdown-js