.View {
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  white-space: normal;
  text-align: left;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.AppView {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.Txt {
  display: inline;
}
.Img {
  display: inline;
}
.StockImg {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  width: 1em;
}
.ViewSwitch > .View {
  width: 100%;
  height: 100%;
}
.ViewSwitch > .active {
  display: block;
}
.ViewSwitch > :not(.active) {
  display: none;
}
.Layout-Horizontal {
  white-space: nowrap;
  text-align: initial;
  /*display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;*/

}
.Layout-Horizontal > .View {
  /*height: 100%;*/

  display: inline-block;
  vertical-align: top;
}
/*.Layout-Horizontal > .Layout.flex:not(.Layout-exception) {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}*/